#NET CLK_CONN LOC = P30 | IOSTANDARD=LVCMOS33; #GCLK0
#NET CLK_SINGLE LOC = P32 | IOSTANDARD=LVCMOS33; #GCLK1
#NET N_RESET LOC = P118 | IOSTANDARD=LVCMOS33; #RESET LOW ACTIVE


#IOM Board to xc2c128 Upper-Connector
############## INPUTS ##############################    
#
#NET IOM_IN_CONN4<0> LOC = P120 | IOSTANDARD=LVCMOS33; #IN0
#NET IOM_IN_CONN4<1> LOC = P119 | IOSTANDARD=LVCMOS33; #IN1
#NET IOM_IN_CONN4<2> LOC = P118 | IOSTANDARD=LVCMOS33; #IN2
#NET IOM_IN_CONN4<3> LOC = P117 | IOSTANDARD=LVCMOS33; #IN3
#
#NET IOM_IN_CONN4<4> LOC = P116 | IOSTANDARD=LVCMOS33; #IN4
#NET IOM_IN_CONN4<5> LOC = P115 | IOSTANDARD=LVCMOS33; #IN5
#NET IOM_IN_CONN4<6> LOC = P113 | IOSTANDARD=LVCMOS33; #IN6
#NET IOM_IN_CONN4<7> LOC = P112 | IOSTANDARD=LVCMOS33; #IN7
#
#NET IOM_IN_CONN4<8> LOC = P104 | IOSTANDARD=LVCMOS33; #IN8
#NET IOM_IN_CONN4<9> LOC = P103 | IOSTANDARD=LVCMOS33; #IN9
#      
############## OUTPUTS ################################    
#NET IOM_OUT_CONN4<0> LOC = P129 | IOSTANDARD=LVCMOS33; #OUT0
#NET IOM_OUT_CONN4<1> LOC = P130 | IOSTANDARD=LVCMOS33; #OUT1
#NET IOM_OUT_CONN4<2> LOC = P131 | IOSTANDARD=LVCMOS33; #OUT2
#NET IOM_OUT_CONN4<3> LOC = P132 | IOSTANDARD=LVCMOS33; #OUT3
#NET IOM_OUT_CONN4<4> LOC = P133 | IOSTANDARD=LVCMOS33; #OUT4
#NET IOM_OUT_CONN4<5> LOC = P134 | IOSTANDARD=LVCMOS33; #OUT5
#NET IOM_OUT_CONN4<6> LOC = P136 | IOSTANDARD=LVCMOS33; #OUT6
#NET IOM_OUT_CONN4<7> LOC = P138 | IOSTANDARD=LVCMOS33; #OUT7
#NET IOM_OUT_CONN4<8> LOC = P10 | IOSTANDARD=LVCMOS33; #OUT8
#NET IOM_OUT_CONN4<9> LOC = P11 | IOSTANDARD=LVCMOS33; #OUT9
#IOM Board xc2c128 Lower-Connector
############## INPUTS ##############################    
#
NET PRE<0> LOC = P56 | IOSTANDARD=LVCMOS33; #IN0
NET PRE<1> LOC = P54 | IOSTANDARD=LVCMOS33; #IN1
NET PRE<2> LOC = P53 | IOSTANDARD=LVCMOS33; #IN2
NET PRE<3> LOC = P52 | IOSTANDARD=LVCMOS33; #IN3
#
NET TCEN LOC = P51 | IOSTANDARD=LVCMOS33; #IN4
NET CNTEN LOC = P50 | IOSTANDARD=LVCMOS33; #IN5
NET DIR LOC = P49 | IOSTANDARD=LVCMOS33; #IN5
NET LOAD LOC = P45 | IOSTANDARD=LVCMOS33; #IN6
#
#NET IOM_IN_CONN3<8> LOC = P28 | IOSTANDARD=LVCMOS33; #IN8
#NET IOM_IN_CONN3<9> LOC = P26 | IOSTANDARD=LVCMOS33; #IN9
#      
############## OUTPUTS ################################    
NET TC LOC = P58 | IOSTANDARD=LVCMOS33; #OUT0 
#NET IOM_OUT_CONN3<1> LOC = P59 | IOSTANDARD=LVCMOS33; #OUT1 
#NET IOM_OUT_CONN3<2> LOC = P60 | IOSTANDARD=LVCMOS33; #OUT2 
#NET IOM_OUT_CONN3<3> LOC = P61 | IOSTANDARD=LVCMOS33; #OUT3 
#NET IOM_OUT_CONN3<4> LOC = P68 | IOSTANDARD=LVCMOS33; #OUT4 
#NET IOM_OUT_CONN3<5> LOC = P69 | IOSTANDARD=LVCMOS33; #OUT5 
#NET IOM_OUT_CONN3<6> LOC = P70 | IOSTANDARD=LVCMOS33; #OUT6 
#NET IOM_OUT_CONN3<7> LOC = P71 | IOSTANDARD=LVCMOS33; #OUT7 
#NET IOM_OUT_CONN3<8> LOC = P79 | IOSTANDARD=LVCMOS33; #OUT8 
#NET IOM_OUT_CONN3<9> LOC = P80 | IOSTANDARD=LVCMOS33; #OUT9 
#






