NET CLK_CONN LOC = P30 | IOSTANDARD=LVCMOS33; #GCLK0
NET CLK_SLEDGLE LOC = P32 | IOSTANDARD=LVCMOS33; #GCLK1
NET N_RESET LOC = P35 | IOSTANDARD=LVCMOS33; #RESET LOW ACTIVE


#LCDLED Board to xc2c128 Upper-Connector
##############  ##############################    
#
NET LED<0> LOC = P94 | IOSTANDARD=LVCMOS33; #LED0
NET LED<1> LOC = P95 | IOSTANDARD=LVCMOS33; #LED1
NET LED<2> LOC = P96 | IOSTANDARD=LVCMOS33; #LED2
NET LED<3> LOC = P97 | IOSTANDARD=LVCMOS33; #LED3
#
NET LED<4> LOC = P101 | IOSTANDARD=LVCMOS33; #LED4
NET LED<5> LOC = P102 | IOSTANDARD=LVCMOS33; #LED5
NET LED<6> LOC = P103 | IOSTANDARD=LVCMOS33; #LED6
NET LED<7> LOC = P104 | IOSTANDARD=LVCMOS33; #LED7
#
#3rd Digit unusable 
#NET LED<8> LOC = not connected | IOSTANDARD=LVCMOS33; #LED8
#NET LED<9> LOC = P112 | IOSTANDARD=LVCMOS33; #LED9
#NET LED<10> LOC = P113 | IOSTANDARD=LVCMOS33; #LED10
#NET LED<11> LOC = P115 | IOSTANDARD=LVCMOS33; #LED11
#
NET LED<12> LOC = P116 | IOSTANDARD=LVCMOS33; #LED12
NET LED<13> LOC = P117 | IOSTANDARD=LVCMOS33; #LED13
NET LED<14> LOC = P118 | IOSTANDARD=LVCMOS33; #LED14
NET LED<15> LOC = P119 | IOSTANDARD=LVCMOS33; #LED15

NET DP_0 LOC = P120 | IOSTANDARD=LVCMOS33; #DP

#MODE_LED_1 must be set to '0'  
#NET MODE_LED_0 LOC = | IOSTANDARD=LVCMOS33; #MODE0 
NET MODE_LED_1 LOC = P129 | IOSTANDARD=LVCMOS33; #MODE1 

